<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01194901244559976 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01194901244559976 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7938121102937542"/>
      <inertia ixx="0.000330755045955731" ixy="0" ixz="0" iyy="0.00017482249119988585" iyz="0" izz="0.00017482249119988585"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01194901244559976 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01194901244559976 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7938121102937542"/>
      <inertia ixx="0.000330755045955731" ixy="0" ixz="0" iyy="0.00017482249119988585" iyz="0" izz="0.00017482249119988585"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12610197510880047 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12610197510880047 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7938121102937542"/>
      <inertia ixx="0.000330755045955731" ixy="0" ixz="0" iyy="0.0012172915633983422" iyz="0" izz="0.0012172915633983422"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.01194901244559976 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06902549377720012 0.0 0.0"/>
  </joint>

</robot>