<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0318483316627809 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0318483316627809 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3963968786460098"/>
      <inertia ixx="0.0001651653661025041" ixy="0" ixz="0" iyy="0.00011608866533575683" iyz="0" izz="0.00011608866533575683"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02550070036043119 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02550070036043119 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3963968786460098"/>
      <inertia ixx="0.0001651653661025041" ixy="0" ixz="0" iyy="0.00010406361881701321" iyz="0" izz="0.00010406361881701321"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09265096797678792 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09265096797678792 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.615585579151523"/>
      <inertia ixx="0.0006731606579798013" ixy="0" ixz="0" iyy="0.0014922897243989494" iyz="0" izz="0.0014922897243989494"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.028674516011606047 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05907583416860955 0.0 0.0"/>
  </joint>

</robot>