<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011257692884355339 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011257692884355339 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.56050977426612"/>
      <inertia ixx="0.00023354573927755005" ixy="0" ixz="0" iyy="0.00012269258381014507" iyz="0" izz="0.00012269258381014507"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12748461423128932 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12748461423128932 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.56050977426612"/>
      <inertia ixx="0.00023354573927755005" ixy="0" ixz="0" iyy="0.0008759052082048644" iyz="0" izz="0.0008759052082048644"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011257692884355339 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011257692884355339 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5430154206119407"/>
      <inertia ixx="0.00022625642525497534" ixy="0" ixz="0" iyy="0.00011886316361006017" iyz="0" izz="0.00011886316361006017"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06937115355782233 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06937115355782233 0.0 0.0"/>
  </joint>

</robot>