<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.020422223637078935 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.020422223637078935 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.3055231854934872"/>
      <inertia ixx="0.0009606346606222865" ixy="0" ixz="0" iyy="0.0005604471754495115" iyz="0" izz="0.0005604471754495115"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06478888818146053 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06478888818146053 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.03827970998972981"/>
      <inertia ixx="1.5949879162387424e-05" ixy="0" ixz="0" iyy="2.136518223700988e-05" iyz="0" izz="2.136518223700988e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06478888818146053 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06478888818146053 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6406241840360825"/>
      <inertia ixx="0.00026692674334836774" ixy="0" ixz="0" iyy="0.00035755371294711485" iyz="0" izz="0.00035755371294711485"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04260555590926973 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06478888818146053 0.0 0.0"/>
  </joint>

</robot>