<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13565306119292628 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13565306119292628 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.624966102052362"/>
      <inertia ixx="0.001093735875855151" ixy="0" ixz="0" iyy="0.004572199427281406" iyz="0" izz="0.004572199427281406"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007290337890983734 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007290337890983734 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1217095004389589"/>
      <inertia ixx="5.071229184956622e-05" ixy="0" ixz="0" iyy="2.5895207714117125e-05" iyz="0" izz="2.5895207714117125e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007056600916089983 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007056600916089983 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1217095004389589"/>
      <inertia ixx="5.071229184956622e-05" ixy="0" ixz="0" iyy="2.586119589202657e-05" iyz="0" izz="2.586119589202657e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07147169954195501 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0071734694035368585 0.0 0.0"/>
  </joint>

</robot>