<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00048518313159173765 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00048518313159173765 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28466785505226966"/>
      <inertia ixx="0.00011861160627177904" ixy="0" ixz="0" iyy="5.931138743367941e-05" iyz="0" izz="5.931138743367941e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14902963373681652 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14902963373681652 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28466785505226966"/>
      <inertia ixx="0.00011861160627177904" ixy="0" ixz="0" iyy="0.0005861745664811664" iyz="0" izz="0.0005861745664811664"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00048518313159173765 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00048518313159173765 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6294289097890958"/>
      <inertia ixx="0.00026226204574545666" ixy="0" ixz="0" iyy="0.0001311433703099519" iyz="0" izz="0.0001311433703099519"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07475740843420413 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07475740843420413 0.0 0.0"/>
  </joint>

</robot>