<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1361787415499638 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1361787415499638 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9382031304414086"/>
      <inertia ixx="0.0003909179710172536" ixy="0" ixz="0" iyy="0.0016453463483996986" iyz="0" izz="0.0016453463483996986"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007102675272795673 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.007102675272795673 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9382031304414086"/>
      <inertia ixx="0.0003909179710172536" ixy="0" ixz="0" iyy="0.00019940319115867484" iyz="0" izz="0.00019940319115867484"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006718583177240532 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006718583177240532 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6801917167804125"/>
      <inertia ixx="0.0002834132153251719" ixy="0" ixz="0" iyy="0.00014426522588852024" iyz="0" izz="0.00014426522588852024"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07164070841137973 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.006910629225018103 0.0 0.0"/>
  </joint>

</robot>