<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008146457844345644 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008146457844345644 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016222188419963146"/>
      <inertia ixx="6.7592451749846455e-06" ixy="0" ixz="0" iyy="3.380519739068277e-06" iyz="0" izz="3.380519739068277e-06"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1142420899240457 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1142420899240457 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016222188419963146"/>
      <inertia ixx="6.7592451749846455e-06" ixy="0" ixz="0" iyy="2.102294921373351e-05" iyz="0" izz="2.102294921373351e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03494326429151971 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03494326429151971 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2845864574290102"/>
      <inertia ixx="0.00011857769059542094" ixy="0" ixz="0" iyy="8.824626958249506e-05" iyz="0" izz="8.824626958249506e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.057528367854240134 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07459267710778271 0.0 0.0"/>
  </joint>

</robot>