<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05718675801660959 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05718675801660959 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6176299660927256"/>
      <inertia ixx="0.00025734581920530236" ixy="0" ixz="0" iyy="0.00029699381789333765" iyz="0" izz="0.00029699381789333765"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05718675801660959 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05718675801660959 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6176299660927256"/>
      <inertia ixx="0.00025734581920530236" ixy="0" ixz="0" iyy="0.00029699381789333765" iyz="0" izz="0.00029699381789333765"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03562648396678081 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03562648396678081 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6176299660927256"/>
      <inertia ixx="0.00025734581920530236" ixy="0" ixz="0" iyy="0.00019399995845168332" iyz="0" izz="0.00019399995845168332"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05718675801660959 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0464066209916952 0.0 0.0"/>
  </joint>

</robot>