<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0720158890882164 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0720158890882164 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6903737126446977"/>
      <inertia ixx="0.00028765571360195747" ixy="0" ixz="0" iyy="0.0004422009480938502" iyz="0" izz="0.0004422009480938502"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.038992055455891794 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.038992055455891794 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6903737126446977"/>
      <inertia ixx="0.00028765571360195747" ixy="0" ixz="0" iyy="0.00023129707793114403" iyz="0" izz="0.00023129707793114403"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.038992055455891794 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.038992055455891794 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6903737126446977"/>
      <inertia ixx="0.00028765571360195747" ixy="0" ixz="0" iyy="0.00023129707793114403" iyz="0" izz="0.00023129707793114403"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0555039722720541 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.038992055455891794 0.0 0.0"/>
  </joint>

</robot>