<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06902978150769086 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06902978150769086 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459647113483026"/>
      <inertia ixx="0.00022748529639512614" ixy="0" ixz="0" iyy="0.0003305411737789565" iyz="0" izz="0.0003305411737789565"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04048510924615457 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04048510924615457 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459647113483026"/>
      <inertia ixx="0.00022748529639512614" ixy="0" ixz="0" iyy="0.00018831433344191053" iyz="0" izz="0.00018831433344191053"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04048510924615457 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04048510924615457 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459647113483026"/>
      <inertia ixx="0.00022748529639512614" ixy="0" ixz="0" iyy="0.00018831433344191053" iyz="0" izz="0.00018831433344191053"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05475744537692272 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04048510924615457 0.0 0.0"/>
  </joint>

</robot>