<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05033419106210703 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05033419106210703 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1394480515670996"/>
      <inertia ixx="5.810335481962485e-05" ixy="0" ixz="0" iyy="5.8493005095942417e-05" iyz="0" izz="5.8493005095942417e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08340944778365157 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08340944778365157 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1394480515670996"/>
      <inertia ixx="5.810335481962485e-05" ixy="0" ixz="0" iyy="0.00010989826547972217" iyz="0" izz="0.00010989826547972217"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.016256361154241394 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.016256361154241394 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1394480515670996"/>
      <inertia ixx="5.810335481962485e-05" ixy="0" ixz="0" iyy="3.2122663735058656e-05" iyz="0" izz="3.2122663735058656e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0668718194228793 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04983290446894648 0.0 0.0"/>
  </joint>

</robot>