<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05719728757216955 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05719728757216955 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7453284306460297"/>
      <inertia ixx="0.0003105535127691791" ixy="0" ixz="0" iyy="0.00035847376482598525" iyz="0" izz="0.00035847376482598525"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08268800612229071 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08268800612229071 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7453284306460297"/>
      <inertia ixx="0.0003105535127691791" ixy="0" ixz="0" iyy="0.0005799466577613689" iyz="0" izz="0.0005799466577613689"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010114706305539733 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010114706305539733 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7453284306460297"/>
      <inertia ixx="0.0003105535127691791" ixy="0" ixz="0" iyy="0.00016163113364829946" iyz="0" izz="0.00016163113364829946"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06994264684723013 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.046401356213915224 0.0 0.0"/>
  </joint>

</robot>