<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07561485069729984 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07561485069729984 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.36146119660807396"/>
      <inertia ixx="0.00015060883192003085" ixy="0" ixz="0" iyy="0.0002475287975039474" iyz="0" izz="0.0002475287975039474"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06773738598162074 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06773738598162074 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.36146119660807396"/>
      <inertia ixx="0.00015060883192003085" ixy="0" ixz="0" iyy="0.000213513726958028" iyz="0" izz="0.000213513726958028"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006647763321079414 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006647763321079414 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.36146119660807396"/>
      <inertia ixx="0.00015060883192003085" ixy="0" ixz="0" iyy="7.663557986744832e-05" iyz="0" izz="7.663557986744832e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07167611833946029 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03719257465135008 0.0 0.0"/>
  </joint>

</robot>