<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06301578581559078 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06301578581559078 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9733245595492533"/>
      <inertia ixx="0.000405551899812189" ixy="0" ixz="0" iyy="0.0005248643977701395" iyz="0" izz="0.0005248643977701395"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04349210709220461 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04349210709220461 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9733245595492533"/>
      <inertia ixx="0.000405551899812189" ixy="0" ixz="0" iyy="0.0003562013743257558" iyz="0" izz="0.0003562013743257558"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04349210709220461 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04349210709220461 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9733245595492533"/>
      <inertia ixx="0.000405551899812189" ixy="0" ixz="0" iyy="0.0003562013743257558" iyz="0" izz="0.0003562013743257558"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.053253946453897694 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04349210709220461 0.0 0.0"/>
  </joint>

</robot>