[submodule "perception/3dblender"]
	path = perception/3dblender
	url = https://github.com/mihirp1998/3dblender
[submodule "perception/pytorch_disco"]
	path = perception/pytorch_disco
	url = https://shamitlal@bitbucket.org/adamharley/pytorch_disco.git
[submodule "hri/restaurant-vrep-sim"]
	path = hri/restaurant-vrep-sim
	url = https://github.com/HARPLab/restaurant-vrep-sim.git
[submodule "hri/restaurant-vid-analysis"]
	path = hri/restaurant-vid-analysis
	url = https://github.com/HARPLab/restaurant-vid-analysis.git
[submodule "hri/gastronomy_web_cam_analysis"]
	path = hri/gastronomy_web_cam_analysis
	url = https://github.com/HARPLab/gastronomy_web_cam_analysis.git
[submodule "hri/customer-analysis"]
	path = hri/customer-analysis
	url = https://github.com/HARPLab/customer-analysis.git
[submodule "hri/customer-simulator"]
	path = hri/customer-simulator
	url = https://github.com/HARPLab/customer-simulator.git
[submodule "hri/psiturk-legibility-study"]
	path = hri/psiturk-legibility-study
	url = https://github.com/HARPLab/psiturk-legibility-study.git
[submodule "hri/restaurant_simulator"]
	path = hri/restaurant_simulator
	url = https://github.com/HARPLab/restaurant_simulator.git
[submodule "sony-approach-study"]
	path = sony-approach-study
	url = https://github.com/HARPLab/sony-approach-study.git
[submodule "hri/learning_skills_from_humans"]
	path = hri/learning_skills_from_humans
	url = https://github.com/Peej1818/learning_skills_from_humans.git
[submodule "manipulation/frankapy"]
	path = manipulation/frankapy
	url = https://github.com/iamlab-cmu/frankapy.git
[submodule "manipulation/franka-interface"]
	path = manipulation/franka-interface
	url = https://github.com/iamlab-cmu/franka-interface.git
[submodule "manipulation/iam-interface"]
	path = manipulation/iam-interface
	url = https://github.com/iamlab-cmu/iam-interface.git
[submodule "perception/Visually-Grounded-Library-of-Behaviors"]
	path = perception/Visually-Grounded-Library-of-Behaviors
	url = https://github.com/YunchuZhang/Visually-Grounded-Library-of-Behaviors.git
[submodule "perception/Learning-to-use-different-tools-for-objects-rearrangement"]
	path = perception/Learning-to-use-different-tools-for-objects-rearrangement
	url = https://github.com/YunchuZhang/Learning-to-use-different-tools-for-objects-rearrangement
