<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08123904773438237 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08123904773438237 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.932356767306894"/>
      <inertia ixx="0.0003884819863778726" ixy="0" ixz="0" iyy="0.0007070203455164883" iyz="0" izz="0.0007070203455164883"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023584317470990643 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023584317470990643 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.932356767306894"/>
      <inertia ixx="0.0003884819863778726" ixy="0" ixz="0" iyy="0.0002374572856569275" iyz="0" izz="0.0002374572856569275"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04517663479462698 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04517663479462698 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4746688888247809"/>
      <inertia ixx="0.0001977787036769921" ixy="0" ixz="0" iyy="0.0001796197837735824" iyz="0" izz="0.0001796197837735824"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.052411682602686506 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03438047613280881 0.0 0.0"/>
  </joint>

</robot>