<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0321750452553438 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0321750452553438 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.547288485049936"/>
      <inertia ixx="0.0010613702021041403" ixy="0" ixz="0" iyy="0.0007504383067691406" iyz="0" izz="0.0007504383067691406"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08564990948931239 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08564990948931239 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.38205866352558004"/>
      <inertia ixx="0.00015919110980232504" ixy="0" ixz="0" iyy="0.000313157790106092" iyz="0" izz="0.000313157790106092"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0321750452553438 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0321750452553438 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05387602216245248"/>
      <inertia ixx="2.2448342567688533e-05" ixy="0" ixz="0" iyy="1.5872026699894943e-05" iyz="0" izz="1.5872026699894943e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0589124773723281 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0589124773723281 0.0 0.0"/>
  </joint>

</robot>