<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0460403730969753 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0460403730969753 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.49185187704205174"/>
      <inertia ixx="0.00020493828210085493" ixy="0" ixz="0" iyy="0.00018935133031857936" iyz="0" izz="0.00018935133031857936"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05197981345151235 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05197981345151235 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25486731924031514"/>
      <inertia ixx="0.00010619471635013133" ixy="0" ixz="0" iyy="0.00011048288037236955" iyz="0" izz="0.00011048288037236955"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05197981345151235 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05197981345151235 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25486731924031514"/>
      <inertia ixx="0.00010619471635013133" ixy="0" ixz="0" iyy="0.00011048288037236955" iyz="0" izz="0.00011048288037236955"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04901009327424383 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05197981345151235 0.0 0.0"/>
  </joint>

</robot>