<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008430357609324373 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008430357609324373 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4111473471213748"/>
      <inertia ixx="0.0001713113946339062" ixy="0" ixz="0" iyy="8.809074932436419e-05" iyz="0" izz="8.809074932436419e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1327920723717721 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1327920723717721 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15544534009922262"/>
      <inertia ixx="6.476889170800943e-05" ixy="0" ixz="0" iyy="0.00026080793370463515" iyz="0" izz="0.00026080793370463515"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00877757001890353 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00877757001890353 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15544534009922262"/>
      <inertia ixx="6.476889170800943e-05" ixy="0" ixz="0" iyy="3.338247923301813e-05" iyz="0" izz="3.338247923301813e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07061121499054823 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07078482119533781 0.0 0.0"/>
  </joint>

</robot>