<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06114315316434747 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06114315316434747 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4889522689594342"/>
      <inertia ixx="0.00020373011206643095" ixy="0" ixz="0" iyy="0.00025419345692355146" iyz="0" izz="0.00025419345692355146"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06114315316434747 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06114315316434747 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.6421580826073614"/>
      <inertia ixx="0.0006842325344197341" ixy="0" ixz="0" iyy="0.0008537149049768451" iyz="0" izz="0.0008537149049768451"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02771369367130505 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02771369367130505 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4889522689594342"/>
      <inertia ixx="0.00020373011206643095" ixy="0" ixz="0" iyy="0.00013315999034140333" iyz="0" izz="0.00013315999034140333"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06114315316434747 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04442842341782626 0.0 0.0"/>
  </joint>

</robot>