<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06322611575116802 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06322611575116802 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.592850031264628"/>
      <inertia ixx="0.0002470208463602617" ixy="0" ixz="0" iyy="0.0003210056506402896" iyz="0" izz="0.0003210056506402896"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06322611575116802 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06322611575116802 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.5802106878765245"/>
      <inertia ixx="0.000658421119948552" ixy="0" ixz="0" iyy="0.0008556237383145574" iyz="0" izz="0.0008556237383145574"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023547768497663962 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023547768497663962 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.592850031264628"/>
      <inertia ixx="0.0002470208463602617" ixy="0" ixz="0" iyy="0.00015090490665089587" iyz="0" izz="0.00015090490665089587"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06322611575116802 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04338694212441599 0.0 0.0"/>
  </joint>

</robot>