<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07090636263963072 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07090636263963072 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28971656582572813"/>
      <inertia ixx="0.00012071523576072007" ixy="0" ixz="0" iyy="0.0001817419121081383" iyz="0" izz="0.0001817419121081383"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07090636263963072 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07090636263963072 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9852383937405425"/>
      <inertia ixx="0.0004105159973918928" ixy="0" ixz="0" iyy="0.0006180492615270942" iyz="0" izz="0.0006180492615270942"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008187274720738547 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008187274720738547 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9852383937405425"/>
      <inertia ixx="0.0004105159973918928" ixy="0" ixz="0" iyy="0.00021076149663134538" iyz="0" izz="0.00021076149663134538"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07090636263963072 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.039546818680184635 0.0 0.0"/>
  </joint>

</robot>