<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07276103864509155 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07276103864509155 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6661220630308022"/>
      <inertia ixx="0.0002775508595961676" ixy="0" ixz="0" iyy="0.0004326556469865077" iyz="0" izz="0.0004326556469865077"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07276103864509155 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07276103864509155 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.049697213721528"/>
      <inertia ixx="0.0004373738390506367" ixy="0" ixz="0" iyy="0.0006817931012166781" iyz="0" izz="0.0006817931012166781"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.004477922709816895 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.004477922709816895 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8144748476085053"/>
      <inertia ixx="0.0003393645198368773" ixy="0" ixz="0" iyy="0.00017104323325732086" iyz="0" izz="0.00017104323325732086"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07276103864509155 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03861948067745422 0.0 0.0"/>
  </joint>

</robot>