<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14450463711683653 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14450463711683653 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9706002099474369"/>
      <inertia ixx="0.00040441675414476546" ixy="0" ixz="0" iyy="0.0018911813589012033" iyz="0" izz="0.0018911813589012033"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0027476814415817313 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0027476814415817313 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2889761445198845"/>
      <inertia ixx="0.00012040672688328525" ixy="0" ixz="0" iyy="6.038517165847474e-05" iyz="0" izz="6.038517165847474e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0027476814415817313 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0027476814415817313 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2889761445198845"/>
      <inertia ixx="0.00012040672688328525" ixy="0" ixz="0" iyy="6.038517165847474e-05" iyz="0" izz="6.038517165847474e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07362615927920912 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0027476814415817313 0.0 0.0"/>
  </joint>

</robot>