<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06601427449999717 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06601427449999717 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5523438468200113"/>
      <inertia ixx="0.00023014326950833807" ixy="0" ixz="0" iyy="0.0003156591892833323" iyz="0" izz="0.0003156591892833323"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.041992862750001414 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.041992862750001414 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5523438468200113"/>
      <inertia ixx="0.00023014326950833807" ixy="0" ixz="0" iyy="0.0001962385870685863" iyz="0" izz="0.0001962385870685863"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.041992862750001414 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.041992862750001414 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3423976744064048"/>
      <inertia ixx="0.0005593323643360021" ixy="0" ixz="0" iyy="0.0004769315788096601" iyz="0" izz="0.0004769315788096601"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05400356862499929 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.041992862750001414 0.0 0.0"/>
  </joint>

</robot>