<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12550895543708437 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12550895543708437 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.49611507595583193"/>
      <inertia ixx="0.00020671461498159667" ixy="0" ixz="0" iyy="0.0007546116149596632" iyz="0" izz="0.0007546116149596632"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014445422643240762 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014445422643240762 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.49611507595583193"/>
      <inertia ixx="0.00020671461498159667" ixy="0" ixz="0" iyy="0.00011198434496216039" iyz="0" izz="0.00011198434496216039"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010045621919674858 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010045621919674858 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3392620525362804"/>
      <inertia ixx="0.0005580258552234503" ixy="0" ixz="0" iyy="0.0002902755098496572" iyz="0" izz="0.0002902755098496572"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06997718904016256 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.01224552228145781 0.0 0.0"/>
  </joint>

</robot>