<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046389808853418035 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046389808853418035 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.579836732108859"/>
      <inertia ixx="0.0010749319717120248" ixy="0" ixz="0" iyy="0.0010001197948585987" iyz="0" izz="0.0010001197948585987"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05180509557329098 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05180509557329098 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.08864985879564177"/>
      <inertia ixx="3.693744116485075e-05" ixy="0" ixz="0" iyy="3.829502456580389e-05" iyz="0" izz="3.829502456580389e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05180509557329098 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05180509557329098 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.19055565897873097"/>
      <inertia ixx="7.939819124113792e-05" ixy="0" ixz="0" iyy="8.231635944920654e-05" iyz="0" izz="8.231635944920654e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04909745221335451 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05180509557329098 0.0 0.0"/>
  </joint>

</robot>