<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05409645214778597 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05409645214778597 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.17808583342646164"/>
      <inertia ixx="7.420243059435903e-05" ixy="0" ixz="0" iyy="8.053080173121969e-05" iyz="0" izz="8.053080173121969e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047951773926107014 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047951773926107014 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5716390896758681"/>
      <inertia ixx="0.00023818295403161174" ixy="0" ixz="0" iyy="0.0002286257497527432" iyz="0" izz="0.0002286257497527432"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047951773926107014 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047951773926107014 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5716390896758681"/>
      <inertia ixx="0.00023818295403161174" ixy="0" ixz="0" iyy="0.0002286257497527432" iyz="0" izz="0.0002286257497527432"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05102411303694649 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.047951773926107014 0.0 0.0"/>
  </joint>

</robot>