<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05354708393886313 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05354708393886313 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9084268686753368"/>
      <inertia ixx="0.00037851119528139045" ixy="0" ixz="0" iyy="0.00040631588568033786" iyz="0" izz="0.00040631588568033786"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04290583212227374 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04290583212227374 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9084268686753368"/>
      <inertia ixx="0.00037851119528139045" ixy="0" ixz="0" iyy="0.00032861663910167967" iyz="0" izz="0.00032861663910167967"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05354708393886313 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05354708393886313 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9084268686753368"/>
      <inertia ixx="0.00037851119528139045" ixy="0" ixz="0" iyy="0.00040631588568033786" iyz="0" izz="0.00040631588568033786"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.048226458030568436 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.048226458030568436 0.0 0.0"/>
  </joint>

</robot>