<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13789526467241722 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13789526467241722 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5227337331002524"/>
      <inertia ixx="0.00021780572212510522" ixy="0" ixz="0" iyy="0.00093722255349432" iyz="0" izz="0.00093722255349432"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006052367663791383 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006052367663791383 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6297631905212482"/>
      <inertia ixx="0.00026240132938385347" ixy="0" ixz="0" iyy="0.00013312307741094267" iyz="0" izz="0.00013312307741094267"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006052367663791383 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006052367663791383 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5227337331002524"/>
      <inertia ixx="0.00021780572212510522" ixy="0" ixz="0" iyy="0.00011049855606711272" iyz="0" izz="0.00011049855606711272"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0719738161681043 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.006052367663791383 0.0 0.0"/>
  </joint>

</robot>