<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07459311104419641 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07459311104419641 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3024986816342381"/>
      <inertia ixx="0.00012604111734759924" ixy="0" ixz="0" iyy="0.0002032824469698219" iyz="0" izz="0.0002032824469698219"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07459311104419641 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07459311104419641 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3024986816342381"/>
      <inertia ixx="0.00012604111734759924" ixy="0" ixz="0" iyy="0.0002032824469698219" iyz="0" izz="0.0002032824469698219"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008137779116071664 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008137779116071664 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8280898405033619"/>
      <inertia ixx="0.00034503743354306746" ixy="0" ixz="0" iyy="0.0001725644159092604" iyz="0" izz="0.0001725644159092604"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07459311104419641 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03770344447790179 0.0 0.0"/>
  </joint>

</robot>