<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008580551158670149 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008580551158670149 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.24580903656450426"/>
      <inertia ixx="0.00010242043190187678" ixy="0" ixz="0" iyy="5.2718374389861065e-05" iyz="0" izz="5.2718374389861065e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1328388976826597 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1328388976826597 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.24580903656450426"/>
      <inertia ixx="0.00010242043190187678" ixy="0" ixz="0" iyy="0.00041267594258981706" iyz="0" izz="0.00041267594258981706"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008580551158670149 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008580551158670149 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3393154178448707"/>
      <inertia ixx="0.0005580480907686963" ixy="0" ixz="0" iyy="0.00028724139930279096" iyz="0" izz="0.00028724139930279096"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07070972442066492 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07070972442066492 0.0 0.0"/>
  </joint>

</robot>