<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052070901299721056 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052070901299721056 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.097044762766924"/>
      <inertia ixx="0.0004571019844862184" ixy="0" ixz="0" iyy="0.0004764263148190173" iyz="0" izz="0.0004764263148190173"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04585819740055788 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04585819740055788 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4807833989675919"/>
      <inertia ixx="0.00020032641623649668" ixy="0" ixz="0" iyy="0.00018441946786064574" iyz="0" izz="0.00018441946786064574"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052070901299721056 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052070901299721056 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4807833989675919"/>
      <inertia ixx="0.00020032641623649668" ixy="0" ixz="0" iyy="0.00020879536621511258" iyz="0" izz="0.00020879536621511258"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04896454935013947 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04896454935013947 0.0 0.0"/>
  </joint>

</robot>