<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005878489724359287 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005878489724359287 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.209093736601197"/>
      <inertia ixx="8.712239025049877e-05" ixy="0" ixz="0" iyy="4.416332656549533e-05" iyz="0" izz="4.416332656549533e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005878489724359287 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005878489724359287 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.209093736601197"/>
      <inertia ixx="8.712239025049877e-05" ixy="0" ixz="0" iyy="4.416332656549533e-05" iyz="0" izz="4.416332656549533e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13824302055128143 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13824302055128143 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.209093736601197"/>
      <inertia ixx="8.712239025049877e-05" ixy="0" ixz="0" iyy="0.0003765627079115764" iyz="0" izz="0.0003765627079115764"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.005878489724359287 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07206075513782036 0.0 0.0"/>
  </joint>

</robot>