<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13887916210774573 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13887916210774573 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.410384439085606"/>
      <inertia ixx="0.0010043268496190028" ixy="0" ixz="0" iyy="0.004376338512978333" iyz="0" izz="0.004376338512978333"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005560418946127135 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005560418946127135 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3754903773689172"/>
      <inertia ixx="0.00015645432390371555" ixy="0" ixz="0" iyy="7.919462100899095e-05" iyz="0" izz="7.919462100899095e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005560418946127135 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005560418946127135 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2050559832594095"/>
      <inertia ixx="8.543999302475397e-05" ixy="0" ixz="0" iyy="4.32483276765835e-05" iyz="0" izz="4.32483276765835e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07221979052693643 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.005560418946127135 0.0 0.0"/>
  </joint>

</robot>