<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0492993287465631 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0492993287465631 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7915853405909894"/>
      <inertia ixx="0.00032982722524624563" ixy="0" ixz="0" iyy="0.0003252376012287689" iyz="0" izz="0.0003252376012287689"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.051401342506873796 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.051401342506873796 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7915853405909894"/>
      <inertia ixx="0.00032982722524624563" ixy="0" ixz="0" iyy="0.00033920078381604685" iyz="0" izz="0.00033920078381604685"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0492993287465631 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0492993287465631 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6188542782089739"/>
      <inertia ixx="0.0002578559492537392" ixy="0" ixz="0" iyy="0.00025426782260088126" iyz="0" izz="0.00025426782260088126"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05035033562671845 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05035033562671845 0.0 0.0"/>
  </joint>

</robot>