<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046197341261845846 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046197341261845846 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5633570096057503"/>
      <inertia ixx="0.00023473208733572933" ixy="0" ixz="0" iyy="0.00021755882209372444" iyz="0" izz="0.00021755882209372444"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0576053174763083 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0576053174763083 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5633570096057503"/>
      <inertia ixx="0.00023473208733572933" ixy="0" ixz="0" iyy="0.00027315174913159477" iyz="0" izz="0.00027315174913159477"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046197341261845846 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046197341261845846 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.5267569813074935"/>
      <inertia ixx="0.0006361487422114557" ixy="0" ixz="0" iyy="0.0005896073800680696" iyz="0" izz="0.0005896073800680696"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05190132936907707 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05190132936907707 0.0 0.0"/>
  </joint>

</robot>