<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047776056291920714 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.047776056291920714 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25313928053194"/>
      <inertia ixx="0.00010547470022164168" ixy="0" ixz="0" iyy="0.00010088763830760042" iyz="0" izz="0.00010088763830760042"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05011238195492293 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05011238195492293 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25313928053194"/>
      <inertia ixx="0.00010547470022164168" ixy="0" ixz="0" iyy="0.0001057120357046023" iyz="0" izz="0.0001057120357046023"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052111561753156344 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052111561753156344 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3145529455164362"/>
      <inertia ixx="0.0005477303939651818" ixy="0" ixz="0" iyy="0.0005713501573227326" iyz="0" izz="0.0005713501573227326"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.048944219123421825 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05111197185403964 0.0 0.0"/>
  </joint>

</robot>