<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011328016497005025 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011328016497005025 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6494121712809147"/>
      <inertia ixx="0.00027058840470038116" ixy="0" ixz="0" iyy="0.00014223879735302024" iyz="0" izz="0.00014223879735302024"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011328016497005025 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011328016497005025 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1829465712973678"/>
      <inertia ixx="7.622773804056993e-05" ixy="0" ixz="0" iyy="4.0070238027522044e-05" iyz="0" izz="4.0070238027522044e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12734396700598993 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12734396700598993 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1829465712973678"/>
      <inertia ixx="7.622773804056993e-05" ixy="0" ixz="0" iyy="0.0002853430773454434" iyz="0" izz="0.0002853430773454434"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.011328016497005025 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06933599175149747 0.0 0.0"/>
  </joint>

</robot>