<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02431612758835773 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02431612758835773 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3937894077890163"/>
      <inertia ixx="0.0005807455865787569" ixy="0" ixz="0" iyy="0.00035904875355383413" iyz="0" izz="0.00035904875355383413"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02431612758835773 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02431612758835773 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4110856633257084"/>
      <inertia ixx="0.0001712856930523785" ixy="0" ixz="0" iyy="0.00010589820398698962" iyz="0" izz="0.00010589820398698962"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10136774482328453 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10136774482328453 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4072796556459217"/>
      <inertia ixx="0.0001696998565191341" ixy="0" ixz="0" iyy="0.00043359737769190046" iyz="0" izz="0.00043359737769190046"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.02431612758835773 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06284193620582113 0.0 0.0"/>
  </joint>

</robot>