<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04721877786417363 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04721877786417363 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.665540940948494"/>
      <inertia ixx="0.0002773087253952059" ixy="0" ixz="0" iyy="0.00026231258958490266" iyz="0" izz="0.00026231258958490266"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04721877786417363 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04721877786417363 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.13046128750062572"/>
      <inertia ixx="5.43588697919274e-05" ixy="0" ixz="0" iyy="5.141928326167094e-05" iyz="0" izz="5.141928326167094e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05556244427165273 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05556244427165273 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.665540940948494"/>
      <inertia ixx="0.0002773087253952059" ixy="0" ixz="0" iyy="0.0003098750420172261" iyz="0" izz="0.0003098750420172261"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04721877786417363 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05139061106791318 0.0 0.0"/>
  </joint>

</robot>