<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10860489845061216 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10860489845061216 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0770792534802851"/>
      <inertia ixx="3.2116355616785465e-05" ixy="0" ixz="0" iyy="9.182081465793333e-05" iyz="0" izz="9.182081465793333e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02069755077469392 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02069755077469392 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3088167258721508"/>
      <inertia ixx="0.0005453403024467296" ixy="0" ixz="0" iyy="0.0003193936658414029" iyz="0" izz="0.0003193936658414029"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02069755077469392 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02069755077469392 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0770792534802851"/>
      <inertia ixx="3.2116355616785465e-05" ixy="0" ixz="0" iyy="1.8809833984190537e-05" iyz="0" izz="1.8809833984190537e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06465122461265305 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.02069755077469392 0.0 0.0"/>
  </joint>

</robot>