<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11924674711533077 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11924674711533077 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7492150886959688"/>
      <inertia ixx="0.0003121729536233204" ixy="0" ixz="0" iyy="0.0010438930394675674" iyz="0" izz="0.0010438930394675674"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008942732683507931 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008942732683507931 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7492150886959688"/>
      <inertia ixx="0.0003121729536233204" ixy="0" ixz="0" iyy="0.00016107952511103395" iyz="0" izz="0.00016107952511103395"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02181052020116129 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02181052020116129 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7492150886959688"/>
      <inertia ixx="0.0003121729536233204" ixy="0" ixz="0" iyy="0.00018578653616376263" iyz="0" izz="0.00018578653616376263"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06409473989941936 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.01537662644233461 0.0 0.0"/>
  </joint>

</robot>