<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06450867084754539 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06450867084754539 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.013503883624634"/>
      <inertia ixx="0.0008389599515102644" ixy="0" ixz="0" iyy="0.0011177242979654276" iyz="0" izz="0.0011177242979654276"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06450867084754539 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06450867084754539 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.47156266518700607"/>
      <inertia ixx="0.00019648444382791924" ixy="0" ixz="0" iyy="0.000261771061471224" iyz="0" izz="0.000261771061471224"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.020982658304909224 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.020982658304909224 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2387102442955756"/>
      <inertia ixx="9.946260178982319e-05" ixy="0" ixz="0" iyy="5.848941961418829e-05" iyz="0" izz="5.848941961418829e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06450867084754539 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.042745664576227305 0.0 0.0"/>
  </joint>

</robot>