<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08530126359417789 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08530126359417789 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.2076574938802365"/>
      <inertia ixx="0.0009198572891167653" ixy="0" ixz="0" iyy="0.0017985611879799135" iyz="0" izz="0.0017985611879799135"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03234936820291105 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03234936820291105 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5161081874698967"/>
      <inertia ixx="0.000215045078112457" ixy="0" ixz="0" iyy="0.00015253068353396985" iyz="0" izz="0.00015253068353396985"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03234936820291105 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03234936820291105 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.23471340463179363"/>
      <inertia ixx="9.779725192991404e-05" ixy="0" ixz="0" iyy="6.936723135236235e-05" iyz="0" izz="6.936723135236235e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05882531589854447 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03234936820291105 0.0 0.0"/>
  </joint>

</robot>