<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11268256789430008 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11268256789430008 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.1084557432125077"/>
      <inertia ixx="0.0008785232263385451" ixy="0" ixz="0" iyy="0.0026702469423552613" iyz="0" izz="0.0026702469423552613"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02550885864962188 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02550885864962188 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8127341593608666"/>
      <inertia ixx="0.0003386392330670278" ixy="0" ixz="0" iyy="0.00021339025294927162" iyz="0" izz="0.00021339025294927162"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01180857345607804 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01180857345607804 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.07688961046963116"/>
      <inertia ixx="3.203733769567966e-05" ixy="0" ixz="0" iyy="1.6912141544704397e-05" iyz="0" izz="1.6912141544704397e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06909571327196098 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.01865871605284996 0.0 0.0"/>
  </joint>

</robot>