<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.029244259788494084 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.029244259788494084 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.500920576326059"/>
      <inertia ixx="0.00020871690680252463" ixy="0" ixz="0" iyy="0.00014005850896543298" iyz="0" izz="0.00014005850896543298"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030540340307570336 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030540340307570336 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.44516159582267023"/>
      <inertia ixx="0.00018548399825944596" ixy="0" ixz="0" iyy="0.000127342643649792" iyz="0" izz="0.000127342643649792"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09021539990393557 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09021539990393557 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.500920576326059"/>
      <inertia ixx="0.00020871690680252463" ixy="0" ixz="0" iyy="0.0004441002528542683" iyz="0" izz="0.0004441002528542683"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.02989230004803221 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06037787010575295 0.0 0.0"/>
  </joint>

</robot>