<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05224823160347701 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05224823160347701 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8261886996434775"/>
      <inertia ixx="0.0007609119581847825" ixy="0" ixz="0" iyy="0.0007958952972207904" iyz="0" izz="0.0007958952972207904"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04887588419826149 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04887588419826149 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.23830669122651338"/>
      <inertia ixx="9.929445467771392e-05" ixy="0" ixz="0" iyy="9.70871797833226e-05" iyz="0" izz="9.70871797833226e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04887588419826149 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04887588419826149 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.16792422623612777"/>
      <inertia ixx="6.996842759838658e-05" ixy="0" ixz="0" iyy="6.841305822615699e-05" iyz="0" izz="6.841305822615699e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05056205790086925 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04887588419826149 0.0 0.0"/>
  </joint>

</robot>