<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13445413297816805 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.13445413297816805 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7689385460331387"/>
      <inertia ixx="0.0003203910608471412" ixy="0" ixz="0" iyy="0.0013185959312807614" iyz="0" izz="0.0013185959312807614"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005838551783174351 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005838551783174351 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7689385460331387"/>
      <inertia ixx="0.0003203910608471412" ixy="0" ixz="0" iyy="0.0001623798725369157" iyz="0" izz="0.0001623798725369157"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.009707315238657593 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.009707315238657593 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7689385460331387"/>
      <inertia ixx="0.0003203910608471412" ixy="0" ixz="0" iyy="0.00016623374653543786" iyz="0" izz="0.00016623374653543786"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0701463423806712 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.007772933510915972 0.0 0.0"/>
  </joint>

</robot>