<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03065418618447313 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03065418618447313 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3675153342898193"/>
      <inertia ixx="0.00015313138928742473" ixy="0" ixz="0" iyy="0.00010534456879533841" iyz="0" izz="0.00010534456879533841"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05967290690776343 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05967290690776343 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3675153342898193"/>
      <inertia ixx="0.00015313138928742473" ixy="0" ixz="0" iyy="0.0001856214543614154" iyz="0" izz="0.0001856214543614154"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05967290690776343 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05967290690776343 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7093186005695661"/>
      <inertia ixx="0.00029554941690398593" ixy="0" ixz="0" iyy="0.0003582564806384299" iyz="0" izz="0.0003582564806384299"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04516354654611828 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05967290690776343 0.0 0.0"/>
  </joint>

</robot>