<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05963865843321783 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05963865843321783 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6200209782886701"/>
      <inertia ixx="0.00025834207428694595" ixy="0" ixz="0" iyy="0.0003129436833402789" iyz="0" izz="0.0003129436833402789"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03072268313356434 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03072268313356434 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6200209782886701"/>
      <inertia ixx="0.00025834207428694595" ixy="0" ixz="0" iyy="0.00017793998894257494" iyz="0" izz="0.00017793998894257494"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05963865843321783 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05963865843321783 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6200209782886701"/>
      <inertia ixx="0.00025834207428694595" ixy="0" ixz="0" iyy="0.0003129436833402789" iyz="0" izz="0.0003129436833402789"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04518067078339108 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04518067078339108 0.0 0.0"/>
  </joint>

</robot>