<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.021747374717249295 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.021747374717249295 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4408537851773451"/>
      <inertia ixx="0.00018368907715722715" ixy="0" ixz="0" iyy="0.00010921962619319071" iyz="0" izz="0.00010921962619319071"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.021747374717249295 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.021747374717249295 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4408537851773451"/>
      <inertia ixx="0.00018368907715722715" ixy="0" ixz="0" iyy="0.00010921962619319071" iyz="0" izz="0.00010921962619319071"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1065052505655014 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1065052505655014 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4408537851773451"/>
      <inertia ixx="0.00018368907715722715" ixy="0" ixz="0" iyy="0.0005085751131559718" iyz="0" izz="0.0005085751131559718"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.021747374717249295 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06412631264137535 0.0 0.0"/>
  </joint>

</robot>