<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06245815976276817 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06245815976276817 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459281097656157"/>
      <inertia ixx="0.00022747004573567327" ixy="0" ixz="0" iyy="0.00029120814072397386" iyz="0" izz="0.00029120814072397386"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06245815976276817 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06245815976276817 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459281097656157"/>
      <inertia ixx="0.00022747004573567327" ixy="0" ixz="0" iyy="0.00029120814072397386" iyz="0" izz="0.00029120814072397386"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02508368047446366 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02508368047446366 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5459281097656157"/>
      <inertia ixx="0.00022747004573567327" ixy="0" ixz="0" iyy="0.0001423594451665718" iyz="0" izz="0.0001423594451665718"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06245815976276817 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.043770920118615914 0.0 0.0"/>
  </joint>

</robot>