<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01717107714845877 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01717107714845877 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6954292029329548"/>
      <inertia ixx="0.00028976216788873123" ixy="0" ixz="0" iyy="0.00016196812082566397" iyz="0" izz="0.00016196812082566397"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08916255102746468 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08916255102746468 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6954292029329548"/>
      <inertia ixx="0.00028976216788873123" ixy="0" ixz="0" iyy="0.0006056006420981136" iyz="0" izz="0.0006056006420981136"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04366637182407654 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04366637182407654 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6954292029329548"/>
      <inertia ixx="0.00028976216788873123" ixy="0" ixz="0" iyy="0.00025538200421240865" iyz="0" izz="0.00025538200421240865"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05316681408796172 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06641446142577061 0.0 0.0"/>
  </joint>

</robot>