<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.015875668281046234 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.015875668281046234 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28841637210772064"/>
      <inertia ixx="0.00012017348837821695" ixy="0" ixz="0" iyy="6.614437352262552e-05" iyz="0" izz="6.614437352262552e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04896962523519142 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04896962523519142 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28841637210772064"/>
      <inertia ixx="0.00012017348837821695" ixy="0" ixz="0" iyy="0.00011772253075103731" iyz="0" izz="0.00011772253075103731"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08515470648376236 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08515470648376236 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.28841637210772064"/>
      <inertia ixx="0.00012017348837821695" ixy="0" ixz="0" iyy="0.00023437012515056363" iyz="0" izz="0.00023437012515056363"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.032422646758118824 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06706216585947689 0.0 0.0"/>
  </joint>

</robot>