<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1223732813412957 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1223732813412957 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6684471385808164"/>
      <inertia ixx="0.0002785196410753402" ixy="0" ixz="0" iyy="0.0009734383996558076" iyz="0" izz="0.0009734383996558076"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.013813359329352145 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.013813359329352145 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6684471385808164"/>
      <inertia ixx="0.0002785196410753402" ixy="0" ixz="0" iyy="0.0001498886255811226" iyz="0" izz="0.0001498886255811226"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.013813359329352145 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.013813359329352145 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6684471385808164"/>
      <inertia ixx="0.0002785196410753402" ixy="0" ixz="0" iyy="0.0001498886255811226" iyz="0" izz="0.0001498886255811226"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06809332033532392 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.013813359329352145 0.0 0.0"/>
  </joint>

</robot>