<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0509214222033847 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0509214222033847 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016805943204568963"/>
      <inertia ixx="7.00247633523707e-06" ixy="0" ixz="0" iyy="7.132710125635055e-06" iyz="0" izz="7.132710125635055e-06"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0481571555932306 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0481571555932306 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016805943204568963"/>
      <inertia ixx="7.00247633523707e-06" ixy="0" ixz="0" iyy="6.749143035953408e-06" iyz="0" izz="6.749143035953408e-06"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0509214222033847 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0509214222033847 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016805943204568963"/>
      <inertia ixx="7.00247633523707e-06" ixy="0" ixz="0" iyy="7.132710125635055e-06" iyz="0" izz="7.132710125635055e-06"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04953928889830765 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04953928889830765 0.0 0.0"/>
  </joint>

</robot>