<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01260099644716609 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01260099644716609 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8675411538189799"/>
      <inertia ixx="0.00036147548075790835" ixy="0" ixz="0" iyy="0.0001922171252795024" iyz="0" izz="0.0001922171252795024"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12479800710566781 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12479800710566781 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8675411538189799"/>
      <inertia ixx="0.00036147548075790835" ixy="0" ixz="0" iyy="0.0013067007935395674" iyz="0" izz="0.0013067007935395674"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01260099644716609 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01260099644716609 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8675411538189799"/>
      <inertia ixx="0.00036147548075790835" ixy="0" ixz="0" iyy="0.0001922171252795024" iyz="0" izz="0.0001922171252795024"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06869950177641695 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06869950177641695 0.0 0.0"/>
  </joint>

</robot>