<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04959040880574659 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04959040880574659 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9168005691569888"/>
      <inertia ixx="0.0003820002371487454" ixy="0" ixz="0" iyy="0.00037888377573183136" iyz="0" izz="0.00037888377573183136"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05895018341308085 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05895018341308085 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9168005691569888"/>
      <inertia ixx="0.0003820002371487454" ixy="0" ixz="0" iyy="0.00045649976650553853" iyz="0" izz="0.00045649976650553853"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04145940778117256 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04145940778117256 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9168005691569888"/>
      <inertia ixx="0.0003820002371487454" ixy="0" ixz="0" iyy="0.00032232282260894623" iyz="0" izz="0.00032232282260894623"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.054270296109413724 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.050204795597126706 0.0 0.0"/>
  </joint>

</robot>