<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.016011098530185917 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.016011098530185917 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.46588827785427356"/>
      <inertia ixx="0.00019412011577261403" ixy="0" ixz="0" iyy="0.0001070128010630794" iyz="0" izz="0.0001070128010630794"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09816153410971283 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09816153410971283 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.46588827785427356"/>
      <inertia ixx="0.00019412011577261403" ixy="0" ixz="0" iyy="0.0004711561844950925" iyz="0" izz="0.0004711561844950925"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03582736736010124 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03582736736010124 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.46588827785427356"/>
      <inertia ixx="0.00019412011577261403" ixy="0" ixz="0" iyy="0.00014689458378938438" iyz="0" izz="0.00014689458378938438"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05708631631994937 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06699445073490704 0.0 0.0"/>
  </joint>

</robot>