<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10075687021378472 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10075687021378472 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4055254719384104"/>
      <inertia ixx="0.00016896894664100435" ixy="0" ixz="0" iyy="0.0004275572279705915" iyz="0" izz="0.0004275572279705915"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0473063288690889 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0473063288690889 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4055254719384104"/>
      <inertia ixx="0.00016896894664100435" ixy="0" ixz="0" iyy="0.0001601112143141256" iyz="0" izz="0.0001601112143141256"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0019368009171263703 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0019368009171263703 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.4055254719384104"/>
      <inertia ixx="0.00016896894664100435" ixy="0" ixz="0" iyy="8.46112405084331e-05" iyz="0" izz="8.46112405084331e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07403159954143682 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.024621564893107635 0.0 0.0"/>
  </joint>

</robot>