<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008571841099834925 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.008571841099834925 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5529373778641559"/>
      <inertia ixx="0.00023039057411006498" ixy="0" ixz="0" iyy="0.00011858094380829278" iyz="0" izz="0.00011858094380829278"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02190500739279756 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02190500739279756 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5529373778641559"/>
      <inertia ixx="0.00023039057411006498" ixy="0" ixz="0" iyy="0.00013730491888762846" iyz="0" izz="0.00013730491888762846"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11952315150736752 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11952315150736752 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5529373778641559"/>
      <inertia ixx="0.00023039057411006498" ixy="0" ixz="0" iyy="0.0007734572708373312" iyz="0" izz="0.0007734572708373312"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.015238424246316242 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.07071407945008254 0.0 0.0"/>
  </joint>

</robot>