<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046740729024201205 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046740729024201205 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8823679780207777"/>
      <inertia ixx="0.00036765332417532413" ixy="0" ixz="0" iyy="0.0003444687930264585" iyz="0" izz="0.0003444687930264585"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046740729024201205 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046740729024201205 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8823679780207777"/>
      <inertia ixx="0.00036765332417532413" ixy="0" ixz="0" iyy="0.0003444687930264585" iyz="0" izz="0.0003444687930264585"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.056518541951597584 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.056518541951597584 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8823679780207777"/>
      <inertia ixx="0.00036765332417532413" ixy="0" ixz="0" iyy="0.0004187090166167311" iyz="0" izz="0.0004187090166167311"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.046740729024201205 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.051629635487899395 0.0 0.0"/>
  </joint>

</robot>