<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09130618638015235 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09130618638015235 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8489289278961344"/>
      <inertia ixx="0.0003537203866233894" ixy="0" ixz="0" iyy="0.0007666408087791261" iyz="0" izz="0.0007666408087791261"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01772486508424911 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01772486508424911 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8489289278961344"/>
      <inertia ixx="0.0003537203866233894" ixy="0" ixz="0" iyy="0.00019908591966932975" iyz="0" izz="0.00019908591966932975"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04096894853559853 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04096894853559853 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.2245064737395754"/>
      <inertia ixx="0.0005102110307248232" ixy="0" ixz="0" iyy="0.00042637874036613536" iyz="0" izz="0.00042637874036613536"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05451552573220073 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.02934690680992382 0.0 0.0"/>
  </joint>

</robot>