<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.037027856476399584 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.037027856476399584 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3500481158395914"/>
      <inertia ixx="0.00014585338159982977" ixy="0" ixz="0" iyy="0.00011292150114488386" iyz="0" izz="0.00011292150114488386"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07594428704720083 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07594428704720083 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3500481158395914"/>
      <inertia ixx="0.00014585338159982977" ixy="0" ixz="0" iyy="0.0002411695797219002" iyz="0" izz="0.0002411695797219002"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.037027856476399584 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.037027856476399584 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3500481158395914"/>
      <inertia ixx="0.00014585338159982977" ixy="0" ixz="0" iyy="0.00011292150114488386" iyz="0" izz="0.00011292150114488386"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.056486071761800205 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.056486071761800205 0.0 0.0"/>
  </joint>

</robot>