<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12502594533576364 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12502594533576364 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5234885653652608"/>
      <inertia ixx="0.0002181202355688587" ixy="0" ixz="0" iyy="0.0007909688434405296" iyz="0" izz="0.0007909688434405296"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006297017570028419 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006297017570028419 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9246740472416128"/>
      <inertia ixx="0.0003852808530173388" ixy="0" ixz="0" iyy="0.000195695890940955" iyz="0" izz="0.000195695890940955"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.018677037094207937 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.018677037094207937 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5234885653652608"/>
      <inertia ixx="0.0002181202355688587" ixy="0" ixz="0" iyy="0.00012427756893772105" iyz="0" izz="0.00012427756893772105"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06566148145289603 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.012487027332118178 0.0 0.0"/>
  </joint>

</robot>