<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06434607681251549 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06434607681251549 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.29459953059254396"/>
      <inertia ixx="0.00012274980441356" ixy="0" ixz="0" iyy="0.00016302199235340286" iyz="0" izz="0.00016302199235340286"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06724414695068791 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06724414695068791 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.29459953059254396"/>
      <inertia ixx="0.00012274980441356" ixy="0" ixz="0" iyy="0.00017238430892072953" iyz="0" izz="0.00017238430892072953"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0184097762367966 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0184097762367966 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.29459953059254396"/>
      <inertia ixx="0.00012274980441356" ixy="0" ixz="0" iyy="6.96953715388872e-05" iyz="0" izz="6.96953715388872e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0657951118816017 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.042826961593742253 0.0 0.0"/>
  </joint>

</robot>