<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008092442421567869 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008092442421567869 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5122622391260756"/>
      <inertia ixx="0.00021344259963586485" ixy="0" ixz="0" iyy="0.00010674925551550138" iyz="0" izz="0.00010674925551550138"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008092442421567869 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0008092442421567869 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8587843252173402"/>
      <inertia ixx="0.0003578268021738918" ixy="0" ixz="0" iyy="0.00017896026754134957" iyz="0" izz="0.00017896026754134957"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14838151151568643 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14838151151568643 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8587843252173402"/>
      <inertia ixx="0.0003578268021738918" ixy="0" ixz="0" iyy="0.001754573163165242" iyz="0" izz="0.001754573163165242"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0008092442421567869 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0745953778789216 0.0 0.0"/>
  </joint>

</robot>