<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010011933480962123 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010011933480962123 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7374597079445062"/>
      <inertia ixx="0.000307274878310211" ixy="0" ixz="0" iyy="0.0001597976129086297" iyz="0" izz="0.0001597976129086297"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010011933480962123 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010011933480962123 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7374597079445062"/>
      <inertia ixx="0.000307274878310211" ixy="0" ixz="0" iyy="0.0001597976129086297" iyz="0" izz="0.0001597976129086297"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12997613303807576 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12997613303807576 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.427646336890164"/>
      <inertia ixx="0.00017818597370423505" ixy="0" ixz="0" iyy="0.0006911404548643223" iyz="0" izz="0.0006911404548643223"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.010011933480962123 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06999403325951895 0.0 0.0"/>
  </joint>

</robot>