<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14409804856976835 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14409804856976835 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.8899417212684435"/>
      <inertia ixx="0.0012041423838618517" ixy="0" ixz="0" iyy="0.005602693313152287" iyz="0" izz="0.005602693313152287"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002950975715115828 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002950975715115828 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.03917603669652372"/>
      <inertia ixx="1.6323348623551552e-05" ixy="0" ixz="0" iyy="8.19010389694993e-06" iyz="0" izz="8.19010389694993e-06"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002950975715115828 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002950975715115828 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0455842641135006"/>
      <inertia ixx="1.8993443380625254e-05" ixy="0" ixz="0" iyy="9.529801650117005e-06" iyz="0" izz="9.529801650117005e-06"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07352451214244209 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.002950975715115828 0.0 0.0"/>
  </joint>

</robot>