<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04029573839975157 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04029573839975157 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.023996036157582088"/>
      <inertia ixx="9.998348398992539e-06" ixy="0" ixz="0" iyy="8.246130909576682e-06" iyz="0" izz="8.246130909576682e-06"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04371029839288475 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04371029839288475 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.33852092843403614"/>
      <inertia ixx="0.00014105038684751508" ixy="0" ixz="0" iyy="0.00012442309038080624" iyz="0" izz="0.00012442309038080624"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06599396320736368 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06599396320736368 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.33852092843403614"/>
      <inertia ixx="0.00014105038684751508" ixy="0" ixz="0" iyy="0.0001933858120862406" iyz="0" izz="0.0001933858120862406"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.04200301839631816 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.054852130800124216 0.0 0.0"/>
  </joint>

</robot>