<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12005927629248879 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12005927629248879 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.23612467969862405"/>
      <inertia ixx="9.838528320776003e-05" ixy="0" ixz="0" iyy="0.0003328222582926394" iyz="0" izz="0.0003328222582926394"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.027271456763442233 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.027271456763442233 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8328724263609922"/>
      <inertia ixx="0.00034703017765041355" ixy="0" ixz="0" iyy="0.00022513460301182354" iyz="0" izz="0.00022513460301182354"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0026692669440689723 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0026692669440689723 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.23612467969862405"/>
      <inertia ixx="9.838528320776003e-05" ixy="0" ixz="0" iyy="4.9332840357340235e-05" iyz="0" izz="4.9332840357340235e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07366536652796551 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.014970361853755602 0.0 0.0"/>
  </joint>

</robot>