<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04685101463098183 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04685101463098183 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5190365459025282"/>
      <inertia ixx="0.00021626522745938682" ixy="0" ixz="0" iyy="0.0002030738086248239" iyz="0" izz="0.0002030738086248239"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005680467648103332 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.005680467648103332 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3898636750509706"/>
      <inertia ixx="0.00016244319793790445" ixy="0" ixz="0" iyy="8.226993305721543e-05" iyz="0" izz="8.226993305721543e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09746851772091483 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09746851772091483 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5190365459025282"/>
      <inertia ixx="0.00021626522745938682" ixy="0" ixz="0" iyy="0.0005190413879387675" iyz="0" izz="0.0005190413879387675"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.02626574113954258 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05157449268450908 0.0 0.0"/>
  </joint>

</robot>