<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1259366638899435 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1259366638899435 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.19431257051379613"/>
      <inertia ixx="8.096357104741507e-05" ixy="0" ixz="0" iyy="0.0002972989342205512" iyz="0" izz="0.0002972989342205512"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012031668055028243 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012031668055028243 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01572131497545992"/>
      <inertia ixx="6.5505479064416355e-06" ixy="0" ixz="0" iyy="3.4649267737258294e-06" iyz="0" izz="3.4649267737258294e-06"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012031668055028243 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012031668055028243 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01572131497545992"/>
      <inertia ixx="6.5505479064416355e-06" ixy="0" ixz="0" iyy="3.4649267737258294e-06" iyz="0" izz="3.4649267737258294e-06"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06898416597248588 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.012031668055028243 0.0 0.0"/>
  </joint>

</robot>