<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07097914877364765 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07097914877364765 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5314645443499405"/>
      <inertia ixx="0.0002214435601458086" ixy="0" ixz="0" iyy="0.00033385006336524194" iyz="0" izz="0.00033385006336524194"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.045025215530767125 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.045025215530767125 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5314645443499405"/>
      <inertia ixx="0.0002214435601458086" ixy="0" ixz="0" iyy="0.00020050695879601083" iyz="0" izz="0.00020050695879601083"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03399563569558522 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03399563569558522 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15996972777981533"/>
      <inertia ixx="6.665405324158973e-05" ixy="0" ixz="0" iyy="4.873348776349237e-05" iyz="0" izz="4.873348776349237e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.058002182152207385 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03951042561317617 0.0 0.0"/>
  </joint>

</robot>