<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0544869449096496 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0544869449096496 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.06132749426064"/>
      <inertia ixx="0.0008588864559419335" ixy="0" ixz="0" iyy="0.0009394203164820301" iyz="0" izz="0.0009394203164820301"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04102611018070079 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04102611018070079 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05920866809437113"/>
      <inertia ixx="2.4670278372654642e-05" ixy="0" ixz="0" iyy="2.0639854123954987e-05" iyz="0" izz="2.0639854123954987e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0544869449096496 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0544869449096496 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6729835305436185"/>
      <inertia ixx="0.00028040980439317443" ixy="0" ixz="0" iyy="0.0003067025511524765" iyz="0" izz="0.0003067025511524765"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0477565275451752 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0477565275451752 0.0 0.0"/>
  </joint>

</robot>