<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02004528547925804 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02004528547925804 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5805407301502203"/>
      <inertia ixx="0.0010752253042292587" ixy="0" ixz="0" iyy="0.0006240206542076246" iyz="0" izz="0.0006240206542076246"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02623184957235166 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02623184957235166 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.16254605871421468"/>
      <inertia ixx="6.772752446425613e-05" ixy="0" ixz="0" iyy="4.318455868267053e-05" iyz="0" izz="4.318455868267053e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10372286494839028 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10372286494839028 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.08299105253374967"/>
      <inertia ixx="3.45796052223957e-05" ixy="0" ixz="0" iyy="9.169427381735283e-05" iyz="0" izz="9.169427381735283e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.02313856752580485 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06497735726037097 0.0 0.0"/>
  </joint>

</robot>