<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04674411828811083 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04674411828811083 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9158671841174678"/>
      <inertia ixx="0.00038161132671561167" ixy="0" ixz="0" iyy="0.0003575707743758097" iyz="0" izz="0.0003575707743758097"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05651176342377834 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05651176342377834 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.02717461501914029"/>
      <inertia ixx="1.1322756257975123e-05" ixy="0" ixz="0" iyy="1.2893402368248717e-05" iyz="0" izz="1.2893402368248717e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04674411828811083 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04674411828811083 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9158671841174678"/>
      <inertia ixx="0.00038161132671561167" ixy="0" ixz="0" iyy="0.0003575707743758097" iyz="0" izz="0.0003575707743758097"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05162794085594458 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05162794085594458 0.0 0.0"/>
  </joint>

</robot>