<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011214702057290119 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011214702057290119 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8948731550651428"/>
      <inertia ixx="0.0007895304812771429" ixy="0" ixz="0" iyy="0.0004146250180805411" iyz="0" izz="0.0004146250180805411"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011214702057290119 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.011214702057290119 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6827253821385179"/>
      <inertia ixx="0.0002844689092243825" ixy="0" ixz="0" iyy="0.00014938995951077033" iyz="0" izz="0.00014938995951077033"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12757059588541975 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12757059588541975 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.32750597731643116"/>
      <inertia ixx="0.00013646082388184635" ixy="0" ixz="0" iyy="0.0005123901138119342" iyz="0" izz="0.0005123901138119342"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.011214702057290119 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06939264897135493 0.0 0.0"/>
  </joint>

</robot>