<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.017763432544188024 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.017763432544188024 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7223852753576744"/>
      <inertia ixx="0.0003009938647323644" ixy="0" ixz="0" iyy="0.00016949202523454737" iyz="0" izz="0.00016949202523454737"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06611828372790599 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06611828372790599 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7223852753576744"/>
      <inertia ixx="0.0003009938647323644" ixy="0" ixz="0" iyy="0.0004136635402213662" iyz="0" izz="0.0004136635402213662"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06611828372790599 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06611828372790599 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8998771460518693"/>
      <inertia ixx="0.00037494881085494564" ixy="0" ixz="0" iyy="0.0005153017076875016" iyz="0" izz="0.0005153017076875016"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.041940858136047005 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06611828372790599 0.0 0.0"/>
  </joint>

</robot>