<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05753263561845572 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05753263561845572 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.334298795109385"/>
      <inertia ixx="0.00013929116462891043" ixy="0" ixz="0" iyy="0.0001618564492226399" iyz="0" izz="0.0001618564492226399"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.050055070996584586 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.050055070996584586 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.334298795109385"/>
      <inertia ixx="0.00013929116462891043" ixy="0" ixz="0" iyy="0.0001394446671827986" iyz="0" izz="0.0001394446671827986"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04241229338495968 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04241229338495968 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6007701739257157"/>
      <inertia ixx="0.0002503209058023816" ixy="0" ixz="0" iyy="0.00021521603365005776" iyz="0" izz="0.00021521603365005776"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05379385330752015 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04623368219077213 0.0 0.0"/>
  </joint>

</robot>