<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07481098609900891 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07481098609900891 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5967534819568945"/>
      <inertia ixx="0.0002486472841487061" ixy="0" ixz="0" iyy="0.00040264367959445786" iyz="0" izz="0.00040264367959445786"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07481098609900891 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07481098609900891 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8354382382839229"/>
      <inertia ixx="0.0003480992659516346" ixy="0" ixz="0" iyy="0.0005636899264223285" iyz="0" izz="0.0005636899264223285"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0003780278019821781 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0003780278019821781 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8354382382839229"/>
      <inertia ixx="0.0003480992659516346" ixy="0" ixz="0" iyy="0.00017405958200226524" iyz="0" izz="0.00017405958200226524"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.07481098609900891 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.03759450695049554 0.0 0.0"/>
  </joint>

</robot>