<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09671072662506329 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.09671072662506329 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.048446189658898575"/>
      <inertia ixx="2.018591235787441e-05" ixy="0" ixz="0" iyy="4.785258109835744e-05" iyz="0" izz="4.785258109835744e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03006755344390054 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03006755344390054 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.5708070199732715"/>
      <inertia ixx="0.0006545029249888632" ixy="0" ixz="0" iyy="0.0004455931534725411" iyz="0" izz="0.0004455931534725411"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023221719931036163 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.023221719931036163 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.048446189658898575"/>
      <inertia ixx="2.018591235787441e-05" ixy="0" ixz="0" iyy="1.2269999868873961e-05" iyz="0" izz="1.2269999868873961e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06338914003448191 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.026644636687468352 0.0 0.0"/>
  </joint>

</robot>