<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0676911299544844 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0676911299544844 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.38463897244698"/>
      <inertia ixx="0.00016026623851957502" ixy="0" ixz="0" iyy="0.00022700395536661604" iyz="0" izz="0.00022700395536661604"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0411544350227578 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0411544350227578 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6115492758282385"/>
      <inertia ixx="0.0002548121982617661" ixy="0" ixz="0" iyy="0.00021372054726291219" iyz="0" izz="0.00021372054726291219"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0411544350227578 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0411544350227578 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.38463897244698"/>
      <inertia ixx="0.00016026623851957502" ixy="0" ixz="0" iyy="0.00013442130493684237" iyz="0" izz="0.00013442130493684237"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0544227824886211 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0411544350227578 0.0 0.0"/>
  </joint>

</robot>