<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05017876872192577 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05017876872192577 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.09691868521074898"/>
      <inertia ixx="4.038278550447875e-05" ixy="0" ixz="0" iyy="4.052742719620644e-05" iyz="0" izz="4.052742719620644e-05"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04991061563903711 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04991061563903711 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.2597270238786007"/>
      <inertia ixx="0.000524886259949417" ixy="0" ixz="0" iyy="0.0005239487662134131" iyz="0" izz="0.0005239487662134131"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04991061563903711 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04991061563903711 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7114416927720837"/>
      <inertia ixx="0.00029643403865503494" ixy="0" ixz="0" iyy="0.00029590458098852215" iyz="0" izz="0.00029590458098852215"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05004469218048144 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.04991061563903711 0.0 0.0"/>
  </joint>

</robot>