<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.138108071611145 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.138108071611145 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7921645224306418"/>
      <inertia ixx="0.0003300685510127675" ixy="0" ixz="0" iyy="0.0014241691850224796" iyz="0" izz="0.0014241691850224796"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00022847145142712046 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00022847145142712046 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7921645224306418"/>
      <inertia ixx="0.0003300685510127675" ixy="0" ixz="0" iyy="0.00016503772136951714" iyz="0" izz="0.00016503772136951714"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01166345693742788 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01166345693742788 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7921645224306418"/>
      <inertia ixx="0.0003300685510127675" ixy="0" ixz="0" iyy="0.000174014531620882" iyz="0" izz="0.000174014531620882"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06916827153128606 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0059459641944275 0.0 0.0"/>
  </joint>

</robot>