<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02642669139654073 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02642669139654073 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.8149528551265615"/>
      <inertia ixx="0.001172897022969401" ixy="0" ixz="0" iyy="0.000750271734532767" iyz="0" izz="0.000750271734532767"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11378332901046588 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11378332901046588 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0041685769778306864"/>
      <inertia ixx="1.7369070740961197e-06" ixy="0" ixz="0" iyy="5.36587772804098e-06" iyz="0" izz="5.36587772804098e-06"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00978997959299338 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.00978997959299338 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1285854268857443"/>
      <inertia ixx="5.357726120239347e-05" ixy="0" ixz="0" iyy="2.781563919571829e-05" iyz="0" izz="2.781563919571829e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0701050102035033 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06178665430172963 0.0 0.0"/>
  </joint>

</robot>