<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.024849886513289406 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.024849886513289406 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.9434534302473883"/>
      <inertia ixx="0.0008097722626030785" ixy="0" ixz="0" iyy="0.0005048957362402863" iyz="0" izz="0.0005048957362402863"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10030022697342118 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.10030022697342118 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013421817000009661"/>
      <inertia ixx="5.592423750004027e-06" ixy="0" ixz="0" iyy="1.404832004927707e-05" iyz="0" izz="1.404832004927707e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.024849886513289406 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.024849886513289406 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013421817000009661"/>
      <inertia ixx="5.592423750004027e-06" ixy="0" ixz="0" iyy="3.486895065470981e-06" iyz="0" izz="3.486895065470981e-06"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.0625750567433553 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.0625750567433553 0.0 0.0"/>
  </joint>

</robot>