<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05485177176541687 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05485177176541687 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2817527953382686"/>
      <inertia ixx="0.00011739699805761194" ixy="0" ixz="0" iyy="0.00012934136463897772" iyz="0" izz="0.00012934136463897772"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.040296456469166256 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.040296456469166256 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2817527953382686"/>
      <inertia ixx="0.00011739699805761194" ixy="0" ixz="0" iyy="9.682445152060066e-05" iyz="0" izz="9.682445152060066e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05485177176541687 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05485177176541687 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.760965220011449"/>
      <inertia ixx="0.0007337355083381039" ixy="0" ixz="0" iyy="0.0008083882339644799" iyz="0" izz="0.0008083882339644799"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.047574114117291566 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.047574114117291566 0.0 0.0"/>
  </joint>

</robot>