<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11851530327627546 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11851530327627546 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0016290908264276"/>
      <inertia ixx="0.00041734545451101163" ixy="0" ixz="0" iyy="0.0013810693206069782" iyz="0" izz="0.0013810693206069782"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01574234836186227 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01574234836186227 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.08862850955134538"/>
      <inertia ixx="3.6928545646393916e-05" ixy="0" ixz="0" iyy="2.0294610574124066e-05" iyz="0" izz="2.0294610574124066e-05"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01574234836186227 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01574234836186227 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.08862850955134538"/>
      <inertia ixx="3.6928545646393916e-05" ixy="0" ixz="0" iyy="2.0294610574124066e-05" iyz="0" izz="2.0294610574124066e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.06712882581906887 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.01574234836186227 0.0 0.0"/>
  </joint>

</robot>