<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07884252189710866 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07884252189710866 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.2464505400309989"/>
      <inertia ixx="0.000519354391679583" ixy="0" ixz="0" iyy="0.0009053534560239862" iyz="0" izz="0.0009053534560239862"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035578739051445665 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035578739051445665 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6381308953104087"/>
      <inertia ixx="0.0002658878730460037" ixy="0" ixz="0" iyy="0.00020025859239319326" iyz="0" izz="0.00020025859239319326"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035578739051445665 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035578739051445665 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6381308953104087"/>
      <inertia ixx="0.0002658878730460037" ixy="0" ixz="0" iyy="0.00020025859239319326" iyz="0" izz="0.00020025859239319326"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.057210630474277165 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.035578739051445665 0.0 0.0"/>
  </joint>

</robot>