<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0818073196843255 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0818073196843255 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5784772312537971"/>
      <inertia ixx="0.00024103217968908218" ixy="0" ixz="0" iyy="0.0004431346520560699" iyz="0" izz="0.0004431346520560699"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02373239558846602 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02373239558846602 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8021748896769432"/>
      <inertia ixx="0.0003342395373653931" ixy="0" ixz="0" iyy="0.00020477028835043585" iyz="0" izz="0.00020477028835043585"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04446028472720848 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.04446028472720848 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8021748896769432"/>
      <inertia ixx="0.0003342395373653931" ixy="0" ixz="0" iyy="0.00029925915831926386" iyz="0" izz="0.00029925915831926386"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05276985763639576 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.034096340157837246 0.0 0.0"/>
  </joint>

</robot>