<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046892810366342734 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046892810366342734 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8637091792044616"/>
      <inertia ixx="0.0007765454913351925" ixy="0" ixz="0" iyy="0.0007297874607990203" iyz="0" izz="0.0007297874607990203"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.056214379267314527 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.056214379267314527 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.27307903033927006"/>
      <inertia ixx="0.00011378292930802921" ixy="0" ixz="0" iyy="0.00012880356027668714" iyz="0" izz="0.00012880356027668714"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046892810366342734 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.046892810366342734 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.052500115523489946"/>
      <inertia ixx="2.1875048134787483e-05" ixy="0" ixz="0" iyy="2.0557888766689205e-05" iyz="0" izz="2.0557888766689205e-05"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.05155359481682863 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.05155359481682863 0.0 0.0"/>
  </joint>

</robot>