<robot name="block">
  
  <link name="block1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010729257226393105 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010729257226393105 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9035941964923446"/>
      <inertia ixx="0.0003764975818718103" ixy="0" ixz="0" iyy="0.00019691704239783883" iyz="0" izz="0.00019691704239783883"/>
    </inertial>
  </link>

  <link name="block2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010729257226393105 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.010729257226393105 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9035941964923446"/>
      <inertia ixx="0.0003764975818718103" ixy="0" ixz="0" iyy="0.00019691704239783883" iyz="0" izz="0.00019691704239783883"/>
    </inertial>
  </link>

  <link name="block3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12854148554721379 0.05 0.05"/>
      </geometry>
      <material name="dark_yellow">
        <color rgba="0.5 0.5 0.1 1"/>
      </material>
    </visual> 
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.12854148554721379 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9035941964923446"/>
      <inertia ixx="0.0003764975818718103" ixy="0" ixz="0" iyy="0.001432416187084668" iyz="0" izz="0.001432416187084668"/>
    </inertial>
  </link>

  <joint name="block_link1" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin xyz="0.010729257226393105 0.0 0.0"/>
  </joint>

  <joint name="block_link2" type="fixed">
    <parent link="block2"/>
    <child link="block3"/>
    <origin xyz="0.06963537138680345 0.0 0.0"/>
  </joint>

</robot>