<?xml version="1.0"?>

<model>
  <name>Picture Ground</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Travers Rhodes</name>
    <email>traversr@andrew.cmu.edu</email>
  </author>

  <description>
    Model with a picture on the ground 
  </description>
</model>
