<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find niryo_one_sim_controllers)/config/niryo_one_sim_controllers.yaml" command="load"/>

  <!-- load the position controllers
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/niryo_one" args="
            niryo_one_joint1_position_controller 
            niryo_one_joint2_position_controller 
            niryo_one_joint3_position_controller 
            niryo_one_joint4_position_controller 
            niryo_one_joint5_position_controller 
            niryo_one_joint6_position_controller 
            joint_state_controller"/> -->
  
  <!-- load the joint trajectory controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/niryo_one" args="
            niryo_one_follow_joint_trajectory_controller 
            joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/niryo_one/joint_states" />
  </node>

</launch>
