<launch>
  <arg name="link_prefix" default=""/>

  <include file="$(find niryo_one_gazebo)/launch/niryo_one.launch"/>
  <include file="$(find niryo_one_sim_controllers)/launch/niryo_one_sim_controllers.launch"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find plating_demo)/config/vision_demo.rviz" />
  
  <!-- this group lets you communicate with a gazebo-simulated niryo robot -->
  <group ns="niryo_one">
    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find niryo_one_moveit_config)/launch/planning_context.launch">
      <arg name="link_prefix" value="$(arg link_prefix)"/>
      <arg name="load_robot_description" value="true"/>
    </include>
  </group>
  
  <include file="$(find spoon_perception)/launch/publish_food_location.launch"/>
  <include file="$(find plating_demo)/launch/move_vision.launch"/>
</launch>
